.landing-1 {
  background-image: url("../assets/BACKGROUND.jpg");
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  height: 100vh;
  color: white;
}

.navbar {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* position: fixed; */
  width: 100vw;
  z-index: 100;
}
.link {
  padding: 1rem;
  text-decoration: none;
  font-weight: bold;
  color: white;
  border-radius: 0.5rem;
}

.link:hover {
  color: white;
  transform: scale(1.1);
  transition: 0.5s;
  text-decoration: underline;
}
