.navbar {
  background-color: #816ad6;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* position: fixed; */
  width: 100vw;
  z-index: 100;
}
.link {
  padding: 1rem;
  text-decoration: none;
}
